.sidenav{
  $primary: hsl(171, 100%, 41%);
  $light: hsl(0, 0%, 96%);
  $info: hsl(204, 86%, 53%);
  $report: #f49542;

  max-width: 400px;
  min-height: 75vh;
  padding-right: 15px;
  border-right: 5px solid $light;

  .is-ul-section{
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px $primary solid;
    p{
      font-size: 110%;
      font-weight: bold;
      line-height: 18px;
      background-color: $primary;
      margin-bottom: 0.25rem;
      a {
        color: white;
      }
    }

    .redirect-link{
      color: $info;
    }

    .is-active{
      background-color: $primary;
      color: white;
    }
  }


  .is-ts-ul-section{  }

  .is-reports-ul-section{
    border: 2px $report solid;
    p{
      background-color: $report;
    }
    .is-active{
      background-color: $report;
    }
  }

  .is-topics-ul-section{
    border: 2px $info solid;
    p{
      background-color: $info;
    }
    .is-active{
      background-color: $info;
    }
  }

  .is-link-section{
    //background-color: $primary;
  }

  .is-ul-subsection{
  }

  .menu-list li ul{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}