.sidenav{
  $report: #f49542;

  max-width: 400px;
  min-height: 75vh;
  height: 100%;
  padding-right: 15px;
  border-right: 5px solid $light;

  .is-ul-section{
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px $primary solid;
    p{
      font-size: 110%;
      font-weight: bold;
      line-height: 18px;
      background-color: $primary;
      margin-bottom: 0.25rem;
      a {
        color: white;
      }
    }

    .redirect-link{
      color: $info;
    }

    .is-active{
      background-color: $primary;
      color: white;
    }
  }

  input {
    width: 93%;
    min-width: 150px;
    margin: 5px 10px;
    border-radius: 5px;
    border: 1px solid $primary;
    line-height: 25px;
  }

  @mixin ul-section-with-color($color) {
    border: 2px $color solid;
    p{
      background-color: $color;
    }
    .is-active{
      background-color: $color;
    }
  }

  .is-ts-ul-section{
    @include ul-section-with-color($primary);
  }

  .is-reports-ul-section{
    @include ul-section-with-color($report);
  }

  .is-project-ul-section{
    @include ul-section-with-color($info);
  }

  .is-link-section{
    //background-color: $primary;
  }

  .is-ul-subsection{
  }

  .menu-list li ul{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}